@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Sixtyfour&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;



}
html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
  background: #0e100f;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 70%;
  z-index: 1001;
  display: flex;
}

#mkc img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  left: 35%;
  top: 30%;
  z-index: 10000;
  color: #bcbbc4;
  padding: 0.2em 0.4em;
  font-size: 28vw;

}

#demo {
  height: 100px;
  position: absolute;
  width: 250px;
  top: 40%;
  left: 40%;
  border: none;
  background: transparent;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: red; */
  font-size: 7rem;
  z-index: 10000;

}

.bar {
  width: 10vw;
  height: 105vh;
  background: white;
}


/* ::-webkit-scrollbar{
  width: 0;
} */
::selection {
  background: rgb(255, 188, 188);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: #5338AC;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5338AC;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #0e100f;
  margin: 0;
  padding: 0;

}

#nav {
  height: 100px;
  width: 100%;
  /* margin: 0 1em 0 2em; */
  /* background-color: #4343ea; */
  display: flex;
  align-items: center;
  /* padding: 0 120px; */
  gap: 60px;
  font-weight: 900;
  position: fixed;
  justify-content: flex-start;
  color: #292b23;
  z-index: 99;
  border-bottom: .0625rem solid #42433d;
}

#nav img {
  height: 4.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
#nav img:hover{
  height: 5.5vw;
  transform: translateY(-5px);
}

.Nav_btn {
  border: 1px solid white;
  background: none;
  padding: 10px 30px;
  display: inline-flex;
  font-size: 15px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  margin: 10px;
  color: white;
  letter-spacing: 1px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.Nav_btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.Nav_btn:hover {
  color: cyan;
  letter-spacing: 0.3rem;
  /* transition: all linear 1s; */
  transform: translateY(-5px);
}

.Nav_btn span {
  position: relative;
  z-index: 98;
}

.Nav_btn:hover::before {
  width: 300px;
  height: 300px;

}

#nav h4 {
  text-transform: uppercase;
  /* font-weight: 400; */
  cursor: pointer;
  font-size: 1.35vw;
  transition: all 0.3s;
}

#nav h4:hover {
  color: white;
  transform: translateY(-5px);
  letter-spacing: 0.1rem;

}

#nav a:hover {
  color: white;
}

a:link {
  color: #292b23;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #292b23;
  text-decoration: none;
}


#Search {
  background-color: transparent;
  border: 1px solid #292b23;
  border-radius: 50px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  color: white;
}

#Search:hover {
  border: 1px solid white;
  transition: all linear 0.8s;
}

#Search:focus {
  outline: 0;
  background-color: #0000007c;
}

#Search::placeholder {
  color: white;
}

#nav i {
  font-size: 3vw;
  color: #292b23;
}

#nav i:hover {
  font-size: 3.5vw;
  transition: all ease 0.5s;
  color: white;
}

.container {
  height: 97vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  height: 103vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(140%);

  border-radius: 5px;
}

/* .sliderimg {
  position: absolute;
  height: 103vh;
  width: 100%;
  /* margin-top: 75px; 
  opacity: 0;
  border-radius: 5px;
  transition: 0.8s;

} */


#page2 {
  height: 200vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  gap: 70px;
  position: relative;
  margin: 0;
  padding: 0;
  /* background: #000; */
}

.scroll {
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1em;
  margin-block-start: 1.5em;
  margin-block-end: 0.67em;
  margin-inline-start: 170px;
  margin-inline-end: 0px;
  position: relative;

}

.scroll-2 {
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1em;
  margin-block-start: 3em;
  margin-block-end: 0.67em;
  margin-inline-start: 630px;
  margin-inline-end: 0px;
  position: relative;

}

.scroll-3{
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1em;
  margin-block-start: 1.5em;
  margin-block-end: 0.67em;
  margin-inline-start: 170px;
  margin-inline-end: 0px;
  position: relative;

}

.scroll h2 {
  font-size: 2.5rem;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  letter-spacing: 0.3rem;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}

.scroll-2 h2 {
  font-size: 2.5rem;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  letter-spacing: 0.3rem;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}

.scroll-3 h2 {
  font-size: 2.5rem;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  letter-spacing: 0.3rem;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}

/* .scroll span{
  font-size: 2rem;
  font-weight: 400;
  
  padding-top: 10px;
  letter-spacing: 0.3rem;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
} */
.words {
  box-sizing: content-box;
  height: 40px;
  display: grid;
  place-items: center;
  overflow: hidden;

}

.rote-span {
  font-size: 2rem;
  font-weight: 400;
  height: 100%;
  /* margin: 30px 0px; */
  line-height: 2.5rem;
  /* padding-bottom: -30px; */
  /* padding-top: 10px; */
  letter-spacing: 0.3rem;
  display: block;
  color: white;
  /* border: 1px solid orange; */
  padding-left: 5px;
  animation: spin_words 10s infinite ease-in;

}

.fail-span {
  color: #0e100f;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}

.firstsec img {
  float: right;
  padding-right: 150px;
  height: 15rem;

}

.secondsec img {
  float: left;
  padding-left: 150px;
  height: 15rem;

}

.thirdsec img {
  float: right;
  padding-right: 150px;
  height: 15rem;

}

.elem {
  height: 50%;
  width: 26%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: black;
  box-shadow: 0 0 5px 5px;
}

.elem h2 {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  /* background-color: #112991;
   */
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 10%, rgba(37, 129, 148, 1) 78%);
  align-items: center;
  justify-content: center;
  transition: all ease 2s;
  font-size: 40px;
  font-weight: 900;
  z-index: 10;
  font-size: 2vw;
  position: absolute;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all linear 1s;
}

.elem-1 img {
  filter: brightness(50%);
}

.elem:hover h2 {
  color: black;
  background: transparent;
  letter-spacing: 0.2rem;
  transition: all linear 1s;

}
#page2 a{
  cursor: pointer;
  transition: all 0.3s;
}


#page3 {

  height: 115vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#page3 h2 {
  font-size: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: brown;
  margin-left: 30px;
  font-weight: 900;
}

.aboutus {
  padding-bottom: 150px;
}

#page3 h2 span {
  margin-left: 50px;
}

#page3 p {
  margin-left: 69px;
  font-size: 3vh;
  color: white;
  line-height: 40px;
  font-weight: 500;
}

#page3 i {
  font-size: 4vh;
  color: green;
}

#page3 img {
  height: 410px;
  width: 518px;
  position: absolute;
  top: 114px;
  right: 31px;
}

.container2 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 20px 0;

}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li h4 {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li h4:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links h4 {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links h4:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}