@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Sixtyfour&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;



}
html{
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  /* overflow-y: hidden; */
  /* background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
  background: #0e100f;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 70%;
  z-index: 1001;
  display: flex;
}

#mkc img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  left: 35%;
  top: 30%;
  z-index: 10000;
  color: #bcbbc4;
  padding: 0.2em 0.4em;
  font-size: 28vw;

}

#demo {
  height: 100px;
  position: absolute;
  width: 250px;
  top: 40%;
  left: 40%;
  border: none;
  background: transparent;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: red; */
  font-size: 7rem;
  z-index: 10000;

}

.bar {
  width: 10vw;
  height: 105vh;
  background: white;
}
.char{
  transform: translateY(155px);
  transition: transform .5s;
}
.scrolling-down-symbol
{
  transform: translateY(155px);
  transition: transform .5s;
}


/* ::-webkit-scrollbar{
  width: 0;
} */
::selection {
  background: rgb(255, 188, 188);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: #5338AC;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5338AC;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #0e100f;
  margin: 0;
  padding: 0;

}
.Menu-Btn{
  display: none;
  margin-right: 30rem;
}
nav{
  background: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

}
nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
} 
nav a:hover{
  background: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
@media(max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
}
#nav {
  height: 70px;
  width: 100%;
  margin-top: .5rem;
  /* margin: 0 1em 0 2em; */
  /* background-color: #4343ea; */
  display: flex;
  align-items: center;
  /* padding: 0 120px; */
  /* gap: 160px; */
  font-weight: 400;
  position: fixed;
  justify-content: space-between;
  color: #292b23;
  z-index: 5;
  /* border-bottom: .0625rem solid #42433d; */
}
.nav1{
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  gap: 25px;
}

#nav img {
  height: 8vw;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 3vw;
}
#nav img:hover{
  height: 9vw;
  /* transform: translateY(-5px); */
}


.Nav_btn {
  border: 1px solid white;
  background: transparent;
  /* padding: 10px 25px; */
  padding: 0.8vw 1.5vw;
  display: inline-flex;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  /* margin: 10px; */
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  position: relative;
  /* margin-right: 35px; */
  overflow: hidden;
  transition: background 0.5s ease-in-out, color 0.4s ease-in-out , box-shadow .5s ease-in-out .5s;
}
.Nav_btn:hover {
  color: rgb(0, 0, 0);
  /* letter-spacing: 0.2rem; */
  background: white;
  /* border: black; */
  box-shadow: 0px 0px 50px 5px blue;
  /* transition: all linear 1s; */
  /* transform: translateY(-5px); */
}

/* .Nav_btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: rgb(0, 60, 255);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
} */


.Nav_btn span {
  position: relative;
  z-index: 1;
}

/* .Nav_btn:hover::before {
  width: 300px;
  height: 300px;

} */

#nav h4 {
  text-transform: uppercase;
  /* font-weight: 400; */
  cursor: pointer;
  font-size: 1.35vw;
  /* transition: all 0.3s; */
  letter-spacing: 0.1rem;
  transition: letter-spacing 0.5s ease-in-out, color 0.5s ease-in-out;
}

#nav h4:hover {
  color: #2f29e6;
  /* transform: translateY(-5px); */
  letter-spacing: 0.3rem;

}

#nav a:link {
  color: white;
  text-decoration: none;
}
#nav a:active {
  color: white;
  text-decoration: none;
}

#nav a:visited {
  color: white;
  text-decoration: none;
}


#Search {
  background-color: transparent;
  border: 1px solid #292b23;
  border-radius: 50px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  color: white;
}

#Search:hover {
  border: 1px solid white;
  transition: all linear 0.8s;
}

#Search:focus {
  outline: 0;
  background-color: #0000007c;
}

#Search::placeholder {
  color: white;
}

#nav i {
  font-size: 3vw;
  color: #292b23;
}

#nav i:hover {
  font-size: 3.5vw;
  transition: all ease 0.5s;
  color: white;
}

.container {
  height: 103vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding: 0;
}
.container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(15, 21, 37, 0.74);
  z-index: 1;
}

video {
  position: absolute;
  height: 103vh;
  width: 100vw;
  object-fit: cover;
  /* filter: brightness(140%); */

  /* border-radius: 5px; */
}
.container h1 h2 span{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.scroll-down-2{
  /* margin-top: 450px; */
  /* margin-left: 150px; */
  /* background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205)); */
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
    font-weight: 200;
  font-size: 1.2rem;
  position: absolute;
}

.scroll-down{
  margin-top: 450px;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-left: -300px; */
  z-index: 1;
    font-weight: 200;
  font-size: 1.2rem;
}
.scroll-down h3{
  padding-top: 5%;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  padding-left: 20%;
}
.scroll-down span{
  padding-left: 38%;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 200;
  /* padding-top: 5%; */
  font-size: 3rem;
  height: 1rem;
}

/* .sliderimg {
  position: absolute;
  height: 103vh;
  width: 100%;
  /* margin-top: 75px; 
  opacity: 0;
  border-radius: 5px;
  transition: 0.8s;

} */


#page2 {
  height: 200vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  gap: 70px;
  position: relative;
  margin: 0;
  padding: 0;
  /* background: #000; */
}
#page2 a{
  text-decoration: none;
}

.scroll {
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1vw;
  margin-block-start: 1vw;
  margin-block-end: 0.67vw;
  margin-inline-start: 17vw;
  margin-inline-end: 0px;
  position: relative;

}

.scroll-2 {
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1vw;
  margin-block-start: 3vw;
  margin-block-end: 0.67vw;
  margin-inline-start: 50vw;
  margin-inline-end: 0px;
  position: relative;

}

.scroll-3{
  /* background: blue; */
  height: 30%;
  width: 50%;
  display: block;
  font-size: 1vw;
  margin-block-start: 1vw;
  margin-block-end: 0.67vw;
  margin-inline-start: 17vw;
  margin-inline-end: 0px;
  position: relative;

}

.scroll h2 {
  font-size: 3.5vw;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 2.5vw;
  letter-spacing: 0.2vw;
  display: flex;
  padding-left: 0.5vw;
  align-items: center;
  justify-content: center;
}

.scroll-2 h2 {
  font-size: 3.5vw;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 2.5vw;
  letter-spacing: 0.2vw;
  display: flex;
  padding-left: 0.5vw;
  align-items: center;
  justify-content: center;
}

.scroll-3 h2 {
  font-size: 3.5vw;
  font-weight: 900;
  /* padding-bottom: -30px; */
  background: linear-gradient(to right, rgb(25, 112, 235), rgb(12, 223, 205));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 2.5vw;
  letter-spacing: 0.2vw;
  display: flex;
  padding-left: 0.5vw;
  align-items: center;
  justify-content: center;
}

/* .scroll span{
  font-size: 2rem;
  font-weight: 400;
  
  padding-top: 10px;
  letter-spacing: 0.3rem;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
} */
.words {
  box-sizing: content-box;
  height: 40px;
  display: grid;
  place-items: center;
  overflow: hidden;

}

.rote-span {
  font-size: 2.5vw;
  font-weight: 400;
  height: 100%;
  /* margin: 30px 0px; */
  line-height: 2.5rem;
  /* padding-bottom: -30px; */
  /* padding-top: 10px; */
  letter-spacing: 0.2vw;
  display: block;
  color: white;
  /* border: 1px solid orange; */
  padding-left: 0.5vw;
  animation: spin_words 10s infinite ease-in;

}

.fail-span {
  color: #0e100f;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}

.firstsec img {
  float: right;
  padding-right: 10vw;
  height: 22vw;

}

.secondsec img {
  float: left;
  padding-left: 10vw;
  height: 22vw;

}

.thirdsec img {
  float: right;
  padding-right: 10vw;
  height: 25vw;
  /* width: 1vw; */

}

.elem {
  height: 50%;
  width: 26%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: black;
  box-shadow: 0 0 5px 5px;
}

.elem h2 {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  /* background-color: #112991;
   */
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 10%, rgba(37, 129, 148, 1) 78%);
  align-items: center;
  justify-content: center;
  transition: all ease 2s;
  font-size: 40px;
  font-weight: 900;
  z-index: 10;
  font-size: 2vw;
  position: absolute;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all linear 1s;
}

.elem-1 img {
  filter: brightness(50%);
}

.elem:hover h2 {
  color: black;
  background: transparent;
  letter-spacing: 0.2rem;
  transition: all linear 1s;

}
#page2 a{
  cursor: pointer;
  transition: all 0.3s;
}


#page3 {

  height: 115vh;
  width: 100%;
  position: relative;
  margin: 0;
  margin-top: 10vw;
  margin-bottom: 5vw;
  padding: 0;
}

#page3 h2 {
  font-size: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: brown;
  margin-left: 3vw;
  font-weight: 900;
}

.aboutus {
  padding-bottom: 5vw;
}

#page3 h2 span {
  margin-left: 5vw;
}

#page3 p {
  margin-left: 69px;
  font-size: 4vh;
  color: white;
  line-height: 40px;
  font-weight: 100;
}

.p3 {
  font-size: 4vh;
  color: green;
}

#page3 img {
  height: 460px;
  width: 550px;
  position: absolute;
  top: 114px;
  right: 31px;
} 
@media (max-width: 800px) {
  .ab-img {
    display: none;
  }
  .Menu-Btn{
    display: block;
   position: absolute;
   top: 1rem;
   left: 28rem;
  }
  .logo{
    margin-top: 1rem;
  }
  .hideOnMobile{
    display: none;
  }
  .overlay {
    position: fixed;
    max-width: 100%;
    height: 70%;
    z-index: 1001;
    display: flex;
  }
  .container {
    width: 100vw;
    margin: 0;
    padding: 0;
  } 
  video {
  width: 100vw;

  }
  .bar {
    width: 10vw;
    height: 105vh;
    background: white;
  }
  .firstsec img {
    float: right;
    /* padding-right: -11rem; */
    /* margin-right: 2rem; */
    height: 7rem;
  
  }
  
  .secondsec img {
    float: left;
    padding-left: 10vw;
    height: 22vw;
  
  }
  
  .thirdsec img {
    float: right;
    padding-right: 10vw;
    height: 25vw;
    /* width: 1vw; */
  
  }
  #page3 p {
    margin-left: 6vw;
    font-size: 3vw;
    color: white;
    line-height: 3.5rem;
    font-weight: 500;
  }
  
  #page3 h2 {
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: brown;
    margin-left: 3vw;
    font-weight: 900;
  }
  #page3 {

    height: 90vh;
    width: 100%;
    position: relative;
    margin: 0;
    margin-bottom: 0vw;
    padding: 0;
  }
  .p3 {
    font-size: 3vw;
    color: white;
  }
  #myText-2{
    font-size: 5.4vw;
    margin: 5rem 5vw;
    line-height: 3rem;
  }
  .scroll-down-2{
    top: 15rem;
  }
  .scroll-down{
    margin-top: 150px;
    font-size: 1rem;
  }
  .scroll-down span{
    font-size: 2.5rem;
  }
  #nav img{
    height: 6rem;
  }
  #nav img:hover{
    height: 6.5rem;
  }
  #nav svg{
    margin-right: 2.5rem;
    cursor: pointer;
  }
  #page1 svg{
    cursor: pointer;
    color: white;
  }
  .svg-clr{
    fill: rgb(4, 0, 250);
  }
  html{ 
    scrollbar-width: none;  
  }
  html, body{
    height: 100vh;
    width: 100vw;
  }
}

.container2 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 20px 0;

}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li h4 {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li h4:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links h4 {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links h4:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}