@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: rgb(255, 188, 188);
  color: black;
}

::-webkit-scrollbar-track {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5338AC;
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1001;
  display: flex;
}

#mkc img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  left: 35%;
  top: 30%;
  z-index: 10000;
  color: #bcbbc4;
  padding: 0.2em 0.4em;
  font-size: 28vw;

}

.bar {
  width: 10vw;
  height: 105vh;
  background: white;
}

#demo {
  height: 100px;
  position: absolute;
  width: 250px;
  top: 40%;
  left: 40%;
  border: none;
  background: transparent;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: red; */
  font-size: 7rem;
  z-index: 10000;

}

#nav {
  height: 100px;
  width: 95%;
  margin: 0 1em 0 2em;
  /* background-color: #4343ea; */
  display: flex;
  align-items: center;
  /* padding: 0 120px; */
  gap: 80px;
  font-weight: 400;
  position: fixed;
  justify-content: flex-start;
  color: #000000;
  z-index: 99;
  border-bottom: .0625rem solid #42433d;
}

#nav img {
  height: 4.5vw;
  filter: brightness(200%);
}

.Nav_btn {
  border: 1px solid white;
  background: none;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  margin: 10px;
  color: white;
  letter-spacing: 1px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.Nav_btn::before {
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.Nav_btn:hover {
  color: black;
  transition: all linear 0.8s;
}

.Nav_btn span {
  position: relative;
  z-index: 100;
}

.Nav_btn:hover::before {
  width: 300px;
  height: 300px;

}

#nav h4 {
  text-transform: uppercase;
  /* font-weight: 400; */
  cursor: pointer;
  font-size: 1.35vw;
}

#nav h4 :hover {
  color: rgb(255, 0, 0);
  transition: all linear 0.5s;
  letter-spacing: 0.1rem;

}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#Search {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.4rem 0.5rem;
  color: white;
}

#Search:hover {
  border: 1px solid white;
  transition: all linear 0.8s;
}

#Search:focus {
  outline: 0;
  background-color: #0000007c;
}

#Search::placeholder {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url("https://wallpapers.com/images/hd/sleeping-zoro-fan-art-4tk9wkzb8gmkns13.jpg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
  filter: brightness(50%);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}

.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}

.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.header__wrapper .cols__container .content ul li {
  display: flex;
}

.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}

.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.right__col{
  border-left: 1px solid black;
  margin: 5px 0px;
  padding-left: 15px;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }

  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }

  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }

  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }

  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}
#bio > input{
  height: 3rem;
  opacity: 0;
  width: 20rem;
  margin-top: 10px;
}
input::placeholder{
  font-size: 1rem;
}
.bioT{
  background-color: #fdfdfd; /* Green */
  border: 1px solid black;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.bioT:hover{
  border: 1 px solid white;
  background: black;
  color: white;
  letter-spacing: 0.8rem;
  transition: all linear 0.5s;

}

