*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    background: #0B0C2A;
    color: white;
    width: 100%;
    /* width: 100vw; */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: rgb(255, 188, 188);
    color: black;
}

::-webkit-scrollbar-track {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
}

.fa-solid {
    font-size: 3vw;
}

#Navbar {
    display: flex;
    justify-content: center;
    background-color: #5338AC;
    color: white;
    gap: 100px;
    align-items: center;
    height: 100px;
    width: 100%;
}

.fas {
    position: absolute;
    right: 21%;
}

#Navbar a,
button {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.show {
    display: flex !important;
}

.cat {
    position: absolute;
    right: 590px;
}

#logo {
    height: 4.5vw;
}

#Navbar>button {
    background: #5338AC;
    border: none;
    font-size: 1rem;
}

#drop-down-box {
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 3px;
    z-index: 1;
    background-color: #f1f1f1;
    top: 9%;
    right: 42%;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

#drop-down-box a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 16px;
}

#drop-down-box a:hover {
    background: #ddd;
    border-radius: 3px;
}

#categories:hover #drop-down-box {
    display: block;
}

#Search {
    background-color: transparent;
    border: 1px solid #f0e7e7;
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
}

#Search:focus {
    outline: 0;
    /* background-color: #0f0fae; */
    background-color: #7575ff00;
}

#Search::placeholder {
    color: white;
}

.Othersearch>button {
    padding: 7px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    margin: 10px;
    background: rgb(68, 68, 68);
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

.fa-solid:hover {

    font-size: 4vw;
    color: black;
    transition: all ease 0.5s;

}

#other-opt>button {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    outline: none;
    cursor: pointer;
    margin: 10px;
    background: rgb(68, 68, 68);
    color: white;
}

#other-opt i {
    cursor: pointer;
    background: #0b0c2a;
    border-radius: 50%;
    color: white;
    position: absolute;
    padding: 5px;
    top: 5px;
    right: 91px;

}

.slides-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    width: 1134px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 50px 0px red;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1245px;
    height: 500px;
}

.first {
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    background: url('./image/nauto banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.second {
    background: url('./image/fate long banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

.third {
    background: url('./image/Goku banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    16% {
        margin-left: 0;
    }

    32% {
        margin-left: -20%;
    }

    48% {
        margin-left: -20%;
    }

    64% {
        margin-left: -40%;
    }

    80% {
        margin-left: -40%;
    }

    100% {
        margin-left: 0;
    }
}
a:link {
    color: white;
}

a {
    cursor: pointer;
}

a:visited {
    color: white;
}

a:hover {
    color: hotpink;
}

a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card-layout {
    min-height: 52vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    min-width: 100%;
    font-family: sans-serif;
    overflow-x: auto;
    scrollbar-width: none;
    line-height: 1.6;
    margin: 0 20px;
    padding-left: 10px;
    gap: 20px;
}

.card-layout a {
    display: block;
}

.slider-wrapper .card ::-webkit-scrollbar {
    display: none;
}

.Type {
    margin-top: 4rem;
    margin-left: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    border-left: 5px solid red;
    padding: 0 6px;
    display: flex;
    justify-content: flex-start;
    gap: 75%;
}

.Viewall {
    font-size: 1rem;
}

.card {
    color: var(--clr-neutral-100);
    padding: 5rem 0 0;
    margin-top: 30px;
    width: 14rem;
    height: 17rem;
    border-radius: 1rem;
    color: black;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-1 {
    background-image: url(https://images.unsplash.com/photo-1505217492286-46d8e25ff757?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZHVsbHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

.card-2 {
    background-image: url(https://plus.unsplash.com/premium_photo-1682001801592-7be1661d6ef7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

.card-3 {
    background-image: url(https://images.unsplash.com/photo-1679679195912-29d0190805ad?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.card-4 {
    background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-5 {
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-6 {
    background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-7 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-8 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-9 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-10 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card:hover,
.card:focus-within {
    transform: scale(1.07);
}

.card-content {
    --padding: 20%;
    padding: var(--padding);
    padding-left: 15px;
    background: linear-gradient(hsl(0, 0%, 0% / 0),
            hsl(20, 0%, 0% /0.3) 20%,
            hsl(0, 0%, 0% / 0));
    transform: translateY(70%);
    transition: transform 500ms ease;
    transition-delay: 500ms;
}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content>.button {
    font-size: 1rem;
}

.card-content> {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
}

.card-title {
    position: relative;
    height: 5.1rem;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -4px;
    width: calc(100% + var(--padding));
    background: var(--clr-neutral-100);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 2em 0.25em;
    border-radius: 0.25em;
}
.card a{
    background: transparent;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: 0.5S;
    padding: 5px 5px;
}
.card a:hover{
    letter-spacing: 0.25em;
    /* color: var(--clr); */
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.card a:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: transparent;
}
.slider-wrapper {
    position: relative;
}

.slide-button {
    position: absolute;
    top: 133%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button:hover {
    background: #444;
}

.slide-button#prev-slide {
    left: 5px;
    z-index: 100;
    display: none;
}

.slide-button#next-slide {
    right: -5px;
    z-index: 100;
}

.slide-button-2 {
    position: absolute;
    top: 200%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button-2:hover {
    background: #444;
}

.slide-button-2#prev-slide-2 {
    left: -5px;
    z-index: 100;
    display: none;
}

.slide-button-2#next-slide-2 {
    right: -5px;
    z-index: 100;
}


.slide-button-3 {
    position: absolute;
    top: 265%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button-3:hover {
    background: #444;
}

.slide-button-3#prev-slide-3 {
    left: -5px;
    z-index: 100;
    display: none;
}

.slide-button-3#next-slide-3 {
    right: -5px;
    z-index: 100;
}

#page2 {
    height: 100vh;
    width: 100%;
}