@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Sixtyfour&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;



}
html{
  scrollbar-color: blue;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply; */

  background: #0e100f;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 70%;
  z-index: 1001;
  display: flex;
}

#mkc img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  left: 35%;
  top: 30%;
  z-index: 10000;
  color: #bcbbc4;
  padding: 0.2em 0.4em;
  font-size: 28vw;

}

#demo {
  height: 100px;
  position: absolute;
  width: 250px;
  top: 40%;
  left: 40%;
  border: none;
  background: transparent;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: red; */
  font-size: 7rem;
  z-index: 10000;

}

.bar {
  width: 10vw;
  height: 105vh;
  background: white;
}


/* ::-webkit-scrollbar{
  width: 0;
} */
::selection {
  background: rgb(255, 188, 188);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: #5338AC;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5338AC;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #0e100f;
  margin: 0;
  padding: 0;

}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: #4343ea; */
  display: flex;
  align-items: center;
  padding-left: 40px;
  /* padding: 0 120px; */
  gap: 100px;
  font-weight: 900;
  position: fixed;
  justify-content: flex-start;
  color: #292b23;
  z-index: 99;
  border-bottom: .0625rem solid #42433d;
}

#nav img {
  height: 4.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
#nav img:hover{
  height: 5.5vw;
  transform: translateY(-5px);
}

.Nav_btn {
  border: 1px solid white;
  background: none;
  padding: 10px 30px;
  display: inline-flex;
  font-size: 15px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  margin: 10px;
  color: white;
  letter-spacing: 1px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.Nav_btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.Nav_btn:hover {
  color: cyan;
  letter-spacing: 0.3rem;
  /* transition: all linear 1s; */
  transform: translateY(-5px);
}

.Nav_btn span {
  position: relative;
  z-index: 98;
}

.Nav_btn:hover::before {
  width: 300px;
  height: 300px;

}

#nav h4 {
  text-transform: uppercase;
  /* font-weight: 400; */
  cursor: pointer;
  font-size: 1.35vw;
  transition: all 0.3s;
}

#nav h4:hover {
  color: white;
  transform: translateY(-5px);
  letter-spacing: 0.1rem;

}

#nav a:hover {
  color: white;
}

a:link {
  color: #292b23;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #292b23;
  text-decoration: none;
}


#Search {
  background-color: transparent;
  border: 1px solid #292b23;
  border-radius: 50px;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  color: white;
}

#Search:hover {
  border: 1px solid white;
  transition: all linear 0.8s;
}

#Search:focus {
  outline: 0;
  background-color: #0000007c;
}

#Search::placeholder {
  color: white;
}

#nav i {
  font-size: 3vw;
  color: #292b23;
}

#nav i:hover {
  font-size: 3.5vw;
  transition: all ease 0.5s;
  color: white;
}

.container {
    height: 97vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

video {
    position: absolute;
    height: 103vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.mov-vid{
  filter: brightness(80%);
}
/* .page1-img{
    filter: brightness(120%);
} */

.card-layout {
    min-height: 52vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    min-width: 100%;
    font-family: sans-serif;
    overflow-x: auto;
    scrollbar-width: none;
    line-height: 1.6;
    margin: 0 20px;
    padding-left: 10px;
    gap: 20px;
}

.card-layout a {
    display: block;
}

.slider-wrapper .card ::-webkit-scrollbar {
    display: none;
}

.Type {
    margin-top: 4rem;
    margin-left: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    border-left: 5px solid red;
    padding: 0 6px;
    display: flex;
    color: white;
    justify-content: flex-start;
    gap: 75%;
}

.Viewall {
    font-size: 1rem;
    color: #fff;
}
.ri-arrow-right-line{
    color: #fff;
}

.card {
    color: var(--clr-neutral-100);
    padding: 5rem 0 0;
    margin-top: 30px;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    color: black;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-1 {
    background-image: url(https://images.unsplash.com/photo-1505217492286-46d8e25ff757?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZHVsbHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

.card-2 {
    background-image: url(https://plus.unsplash.com/premium_photo-1682001801592-7be1661d6ef7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
}

.card-3 {
    background-image: url(https://images.unsplash.com/photo-1679679195912-29d0190805ad?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.card-4 {
    background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-5 {
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-6 {
    background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-7 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-8 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-9 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card-10 {
    background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

.card:hover,
.card:focus-within {
    transform: scale(1.07);
}

.card-content {
    --padding: 30%;
    padding: var(--padding);
    padding-left: 15px;
    background: linear-gradient(hsl(0, 0%, 0% / 0),
            hsl(20, 0%, 0% /0.3) 20%,
            hsl(0, 0%, 0% / 0));
    transform: translateY(70%);
    transition: transform 500ms ease;
    z-index: -1;
    transition-delay: 500ms;
}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content>.button {
    font-size: 1rem;
}

.card-content> {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content>*:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
}

.card-title {
    position: relative;
    height: 6.1rem;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -4px;
    width: calc(100% + var(--padding));
    background: var(--clr-neutral-100);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
    background: rgba(0, 0, 0, 0.212);
}


.card button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 2em 0.25em;
    border-radius: 0.25em;
}

.card a {
    background: transparent;
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: 0.5S;
    padding: 5px 5px;
}

.card a:hover {
    letter-spacing: 0.25em;
    /* color: var(--clr); */
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.card a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: transparent;
}

.slider-wrapper {
    position: relative;
}

.slide-button {
    position: absolute;
    top: 133%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button:hover {
    background: #444;
}

.slide-button#prev-slide {
    left: 5px;
    z-index: 100;
    display: none;
}

.slide-button#next-slide {
    right: -5px;
    z-index: 100;
}

.slide-button-2 {
    position: absolute;
    top: 200%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button-2:hover {
    background: #444;
}

.slide-button-2#prev-slide-2 {
    left: -5px;
    z-index: 100;
    display: none;
}

.slide-button-2#next-slide-2 {
    right: -5px;
    z-index: 100;
}


.slide-button-3 {
    position: absolute;
    top: 265%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-button-3:hover {
    background: #444;
}

.slide-button-3#prev-slide-3 {
    left: -5px;
    z-index: 100;
    display: none;
}

.slide-button-3#next-slide-3 {
    right: -5px;
    z-index: 100;
}

#page2 {
    height: 580vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container2 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 20px 0;
  z-index: 99;

}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li h4 {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li h4:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links h4 {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links h4:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}